<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />
	<link rel="icon" href="/elementos/redciudadana.png" type="image/png">

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/css/colors.php?color=F9BE79" type="text/css" />

	<!-- / -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		<!-- Preloader Start -->
		<div id="preloader-active">
			<div class="preloader d-flex align-items-center justify-content-center">
				<div class="preloader-inner position-relative">
					<div class="text-center">
						<img src="/elementos/loader.gif" style="width:50%;height:auto;margin:auto" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div style="height:87px"></div>
		<header id="header" class="border-0 px-6" data-mobile-sticky="true">

			<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white px-6" style="border-bottom:1px solid #ededed">
				
				<!--LOGO-->
				<div class="d-flex logo" style="align-items:center">
					<a class="navbar-brand" style="margin-left:5%" target="_blank" href="https://redciudadana.org/"><img style="max-width:200px!important;height:auto" src="/elementos/LOGO NEGRO.png"></a>
										<a class="navbar-brand" style="margin-left:5%" href="/index.html"><img style="max-width:200px!important;height:auto" src="/elementos/04_LOGOTIPOS/SICA-12.png"></a>
				</div>
				<!--RESPONSIVE-->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!--MENU-->
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link " href="/index.html">Inicio</a>
						<a class="nav-item nav-link" href="/metdologia/index.html">Metdologia</a>
						<a class="nav-item nav-link" href="/resultados/index.html">Resultados</a>
						<a class="nav-item nav-link" href="/contacto/index.html">Contacto</a>


						<!--Redes-->
						<div class="redes_header">
							<a class="nav-item nav-link" target="_blank" href="https://www.facebook.com/Redciudadanagt/"><i class="fab fa-facebook-f" style="font-size: 20px;"></i> </a>
							<a class="nav-item nav-link" target="_blank" href="https://twitter.com/RedxGuate"><i class="fab fa-twitter" style="font-size: 20px;"></i></a>
							<a class="nav-item nav-link" target="_blank" href="https://www.instagram.com/redxguate/?hl=es"><i class="fab fa-instagram" style="font-size: 20px;"></i></a>
							<a class="nav-item nav-link" target="_blank" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><i class="fab fa-youtube" style="font-size: 20px;"></i></a>
						</div>

					</div>
				</div>
			</nav>

		</header><!-- #header end -->

		{% block content %}
        {% endblock %} 

		<!-- Footer
		============================================= -->
		<footer>
			<div class="footer-middle-area pt-40 pb-5" style="background-color: #202d3d;   ">
				<div class="px-6">
					<div class="row" style="justify-content:space-between">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="footer-wrapper mb-30">
								<div class="footer-logo">
								<a href="https://redciudadana.org/"><img src="/elementos/LOGO BLANCO.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
							<div class="d-flex align-items-center justify-content-end">
								<a style="margin:0 3px" target="_blank" href="https://www.facebook.com/Redciudadanagt"><img src="/elementos/REDES-27.png"></a>
								<a style="margin:0 3px" target="_blank" href="https://twitter.com/redxguate"><img src="/elementos/REDES-28.png"></a>
								<a style="margin:0 3px" target="_blank" href="https://www.instagram.com/redxguate/"><img src="/elementos/REDES-29.png"></a>
								<a style="margin:0 3px" target="_blank" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><img src="/elementos/REDES-30.png"></a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="linea_blanca"></div>
						</div>
					</div>
					<div class="footer-bottom-area pt-25 mt-20" style="border-top:none">
						<div class="row">
							<div class="col-xl-12">
								<div class="copyright text-center">
								<a href="https://redciudadana.org/"><p style="color:#fff!important"><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer-area-end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.min.js"></script>

	<!-- TinyMCE Plugin -->
	<script src="/js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

	<script>
      (function ($) {
        ("use strict");
        // Page loading
        $(window).on("load", function () {
          $("#preloader-active").delay(450).fadeOut("slow");
          $("body").delay(450).css({
            overflow: "visible"
          });
        });
      
      })(jQuery);
    </script>

	<script>
		jQuery(document).ready( function(){

			$('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				$('.custom-file-label').html(fileName);
			});

			tinymce.init({
				selector: '#post-message',
				menubar: false,
				setup: function(editor) {
					editor.on('change', function(e) {
						editor.save();
					});
				}
			});

			$(function(){
		      if(window.location.hash) {
		          var hash = window.location.hash;
		          $(hash).modal('toggle');
		      }
		  });
		});
	</script>

	<!--Js-->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    {% block body_javascripts %}

    {% endblock %}

	</body>
</html>
