---
pagination:
  data: presidencial
  size: 1
  alias: presidencial
  addAllPagesToCollections: true
permalink: "presidencial/{{presidencial.nombre | slug}}/index.html"
tags:
  - presidencial
---

{% extends "src/base.njk" %}

{% block head %}
<title>{{presidencial.nombre}} | Candidatos 2023</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}

    <div class="section m-0" style="background-color:#f0f2fd">
		<div class="container">

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12 d-flex breadcumb" style="padding:20px">
                    <a href="/index.html">Inicio</a> &nbsp/&nbsp <a href="/presidencial/page-0/index.html">Presidencial</a> &nbsp/&nbsp <a href="#" style="pointer-events:none">{{presidencial.nombre}}</a> 
                </div>
            </div>

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-3 d-flex my-4">
                    <img src="{{presidencial.fotoUrl}}">
                </div>
                <div class="col-lg-6 my-4">
                    <h3>{{presidencial.nombre}}</h3>
                    <h5>Tip de Elección: {{presidencial.tipoeleccion}}</h5>
                    <h5>Partido Político: {{presidencial.partidopostulante}}</h5>
                    <h5>Dupla Presidencial: {{presidencial.dupla}}</h5>
                </div>
                <div class="col-lg-3 my-4 center-elements">
                    <a href="https://partidos-publicos.netlify.app/partidospublicos/{{presidencial.partidopostulante}}/"><img src="{{presidencial.fotoUrlPartido}}"></a>
                    <div class"d-flex" style"margin-tp:10px!important">
                        {% if presidencial.fb %}
                        <a href="{{presidencial.fb}}" target="_blank" style="font-size:30px!important"><i class="fa-brands fa-square-facebook"></i></a>
                        {% endif %}
                        {% if presidencial.tw %}
                        <a href="{{presidencial.tw}}" target="_blank" style="font-size:30px!important"><i class="fa-brands fa-square-twitter"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12" style="background-color: #1fc68b">
                    <h4 class="mb-0 py-4 text-white">Experiencia Académica</h4>
                </div>

                <div class="col-lg-12" style="background-color: #fff">
                    <p class="mb-0 py-4">Resumen de su experiencia</p>
                </div>
            </div>

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12" style="background-color: #1fc68b">
                    <h4 class="mb-0 py-4 text-white">Historial Político</h4>
                </div>

                <div class="col-lg-12" style="background-color: #fff">
                    <p class="mb-0 py-4">Resumen de su historial político</p>
                </div>
            </div>

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12 d-flex justify-content-between" style="background-color: #1fc68b">
                    <h4 class="mb-0 py-4 text-white">Planes de Gobierno</h4>
                    <a href="" class="button" style="align-self:center">Descarga Aquí</a>
                </div>
            </div>

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12" style="background-color: #1fc68b">
                    <h4 class="mb-0 py-4 text-white">Fuentes de Información</h4>
                </div>

                <div class="col-lg-12" style="background-color: #fff">
                    <p class="mb-0 py-4">Fuentes de Información</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block body_javascripts %}




{% endblock %}