---
permalink: "/metodologia/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Metodolgía SICA | Red Ciudadana</title>
{% endblock %}

{% block content %}

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap p-0">

				<!-- que es sica
				============================================= -->
				<div class="section m-0 py-6"  style="background-color: #eff4fb;">
					<div class=" container">
						
						<div class="row">

							<div class="col-lg-6 order-lg-2">
								<img class="my-4" src="/elementos/IMAGENES/SICA-09.png">
							</div>
							
							<div class="col-lg-6 order-lg-1" style="display:block;margin:auto">
								<h2 style="font-weight:800">Metodolgía de Medición</h2>
								<p style="line-height:20px;font-size:18px">Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
								</p>
								<a href="#" class="btn_sica_blue">Ver más &nbsp<i class="icon-arrow-right"></i></a>
							</div>

						</div>

					</div>
				</div>

				<!-- que es datos abiertos
				============================================= -->
				<div class="section m-0 py-6"  style="background-color: #fff;">
					<div class=" container">
						
						<div class="row">
							
							<div class="col-lg-6 order-lg-1">
								<img class="my-4" src="/elementos/IMAGENES/SICA-08.png">
							</div>

							<div class="col-lg-6 order-lg-2" style="display:block;margin:auto">
								<h2 style="font-weight:800">¿Qué mide?</h2>
								<p style="line-height:20px;font-size:18px">Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
								</p>
								<a href="#" class="btn_sica_blue">Ver más &nbsp<i class="icon-arrow-right"></i></a>
							</div>

						</div>

					</div>
				</div>

				<!-- resultados
				============================================= -->
				<div class="section m-0 py-6"  style="background-color: #eff4fb;">
					<div class=" container">
						
						<div class="row">

							<div class="col-lg-6 order-lg-2">
								<img class="my-4" src="/elementos/IMAGENES/SICA-12.png">
							</div>
							
							<div class="col-lg-6 order-lg-1" style="display:block;margin:auto">
								<h2 style="font-weight:800">¿Cómo se mide?</h2>
								<p style="line-height:20px;font-size:18px">Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
								</p>
								<a href="#" class="btn_sica_blue">Ver más &nbsp<i class="icon-arrow-right"></i></a>
							</div>


						</div>

					</div>
				</div>

				<!-- apoyo de
				============================================= -->
				<div class="section m-0 py-6"  style="background-color: #fff;">
					<div class=" container">
						
						<div class="row">

							<div class="col-lg-12 justify-content-center d-flex">
								<h2 style="font-weight:800">Gracias al apoyo de</h2>
							</div>
							
							<div class="col-lg-4">
								<img src="/elementos/04_LOGOTIPOS/SICA-13.png">
							</div>
							<div class="col-lg-4">
								<img src="/elementos/04_LOGOTIPOS/SICA-14.png">
							</div>
							<div class="col-lg-4">
								<img src="/elementos/04_LOGOTIPOS/SICA-15.png">
							</div>

							
						</div>

					</div>
				</div>

				

			</div>


		</section><!-- #content end -->
   
{% endblock %}

{% block body_javascripts %}

{% endblock %}