---
permalink: "resultados/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>SICA  Resultados | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap p-0">

				<!-- que es sica
				============================================= -->
				<div class="section m-0 py-6"  style="background-color: #eff4fb;">
					<div class=" container">
						
						<div class="row">
							
							<div class="col-lg-12 text-center mb-4">
								<h2 style="font-weight:800">Resultados del Índice de Datos Abiertos 2023 - SICA</h2>
								<p style="line-height:20px;font-size:18px">Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
									Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
								</p>
								<a href="#" class="btn_sica_blue">Ver más &nbsp<i class="icon-arrow-right"></i></a>
							</div>

							<div class="col-lg-6 my-4">
								<div style="background-color:#fff;border-radius:30px;width:100%;height:300px"></div>
							</div>

                            <div class="col-lg-6 my-4">
								<div style="background-color:#fff;border-radius:30px;width:100%;height:300px"></div>
							</div>

						</div>

					</div>
				</div>

				<!-- resultados
				============================================= -->
				<div class="section m-0 py-6"  style="background-color: #fff;">
					<div class=" container">
						
						<div class="row">
							
							<div class="col-lg-12 text-center mb-4">
								<h2 style="font-weight:800">Resultados del Índice de Datos Abiertos 2023 - SICA</h2>
								<p style="line-height:20px;font-size:18px">Lorem ipsum dolor sit amet, consecteteur Lorem ipsum dolor sit amet, consecteteur 
								</p>

                                <table>
                                    <tr>
                                        <th>País</th>
                                        <th>Suscrito Desde</th>
                                        <th>Coordinador</th>
                                        <th>Responsable</th>
                                        <th>Plan</th>
                                    </tr>
                                    <tr>
                                        <td><a href="/resultados/argentina/index.html">Argentina</a></td>
                                        <td class="blue">2012</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/resultados/brasil/index.html">Brasil</a></td>
                                        <td class="blue">2011</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/resultados/chile/index.html">Chile</a></td>
                                        <td class="blue">2011</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/resultados/colombia/index.html">Colombia</a></td>
                                        <td class="blue">2011</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/resultados/costarica/index.html">Costa Rica</a></td>
                                        <td class="blue">2012</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/resultados/ecuador/index.html">Ecuador</a></td>
                                        <td class="blue">2018</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/resultados/elSalvador/index.html">El Salvador</a></td>
                                        <td class="blue">2011</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                    </tr>
                                </table>

								<a href="#" class="btn_sica_blue2">Descargar Informe General &nbsp<i class="icon-arrow-right"></i></a>
							</div>


						</div>

					</div>
				</div>

				

				

			</div>


		</section><!-- #content end -->

{% endblock %}